.header{
    padding: 24px 0;
    background: var(--white);
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__logo{
    display: inline-flex;
    gap: 8px;
}

.header__title{
margin-top: 1rem;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.header__theme{
    display: flex;
    gap: 12px;
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.svg-logo{
    fill: var(--black);
}
.svg-logo:hover{
    fill: var(--blue);
}
@media all and (min-width: 768px){
    .header__title{
        font-size: 50px;
        line-height: 64px; 
    }
}
