.skeleton{
    padding: 24px 40px 32px 24px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}
.skeleton__header{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.skeleton__circle{
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 50%;
    flex-shrink: 0;
}
.skeleton__title{
    flex-basis: 100%;
    margin-left: 16px;
}
.skeleton__line{
    height: 20px;
    margin-bottom: 8px;
    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__line:last-child {
    margin-bottom: 0;
}

.first {
    width: 20%;
}
.second{
    width: 40%;
}
.three{
    width: 90%;
}
.four{
    width: 80%;
}
.skeleton__wrapper{
    max-width: 67%;
}
.skeleton__circle, .skeleton__line {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background-image: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
    background-size: 200%;
    background-position: 100%;
}

@keyframes backgroundMovement {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}